openssl_conf = openssl_def

[openssl_def]
engines = engine_section

[engine_section]
etsi_qkd_client = etsi_qkd_client_section

[etsi_qkd_client_section]
engine_id = etsi_qkd_client
default_algorithms = ALL
init = 0
